<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nếu truy cập vào trang chủ, tự động chuyển vào public/index.php
    RewriteRule ^$ public/index.php [L]

    # Nếu truy cập các đường dẫn khác, tự động trỏ vào thư mục public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>